/* litir */

.heading-font {
    font-family: lobster-two, cursive !important;
}
.basic-font {
    font-family: source-sans-pro, sans-serif !important;
}

$darken-percentage: 10%;

$orange: #ff9900;
$purple: #f18bf8;
$green: #6ef46f;
$blue: #20bde8;
$red: #ff0000;

$radius: 4px;


$color1: $blue;
$color2: $orange;
$color3: $purple;



body {
    line-height: 1.8em;

    h1, h2, h3, h4, h5, h6 {
        color: $red;
        @extend .heading-font;
    }

    @extend .basic-font;

    p {
        @extend .basic-font;
    }
}

a {
    color: #fa9500;
}
a:hover {
    color: #fa9500;   
}





/* Haus */
.Haus {
    background: $color1;

    &__simi {
        font-size: 2em;
        position: absolute;
        top: 0;
        right: 0;
    }
}






/* Page */
.Page {
    min-height: 65vh;

    &__crumbs {
        ul {
            padding: 0;
            margin: 0;
            list-style: none;

            li {
                text-transform: uppercase;
                float: left;
            }

            li:after {
                padding-right: 1em;
                padding-left: 1em;
                content: "\f105";
                font-family: FontAwesome;
            }

            li:last-child:after {
                content: "";
                display: none;
            }
        }   
    }

    img {
        &.fullwidth {
            width: 100% !important;
        }

        height: auto !important;

        &.left {
            float: left;
            max-width: 400px;
            margin-right: 2em;
            margin-bottom: 2em;
        }        

        &.right {
            float: right;
            max-width: 400px;
            margin-left: 2em;
            margin-bottom: 2em;
        }

        @media (max-width: 600px) {
            display: inline-block;
            width: 100% !important;
            min-width: 100%;

            &.left,
            &.right {
                float: none !important;
                margin: 0 !important;
                margin-bottom: 1em !important;
            }
        }
    }

    figure {
        padding: 0 !important;
        margin: 0 !important;

        @media (max-width: 600px) {
            width: 100%;
            display: block;
            
            &.lefter,
            &.righter {
                margin: 0 !important;
                margin-bottom: 1em !important;
            }

            img {
                width: 100%;
            }
        }

        &.lefter {
            float: left;
            margin-right: 2em !important;
            margin-bottom: 2em !important;
        }

        &.righter {
            float: right;
            margin-left: 2em !important;
            margin-bottom: 2em !important;
        }
    }
}

@mixin color-from-to($col1, $col2) {
    color: $col1;
    transition: color 0.25s;

    &:hover,
    &:focus,
    &:active {
        color: darken($col2, $darken-percentage);
        transition: color 0.25s;
    }
}
@mixin bg-from-to($col1, $col2) {
    background: $col1;
    transition: background 0.25s;

    &:hover,
    &:focus,
    &:active {
        background: darken($col2, $darken-percentage);
        transition: background 0.25s;
    }
}
@mixin bg-darken($color) {
    background: darken($color, $darken-percentage);
}
@mixin color-darken($color) {
    color: darken($color, $darken-percentage);
}


/* Button */
.takki,
button.takki,
a.takki {
    @media (max-width: 479px) {
        display: block !important;
    }
    text-align: center;
    display: inline-block;
    border: none !important;
    box-shadow: none !important;
    margin: 0 !important;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: $radius;
    color: #FFF;
    padding: 1em 2em;

    @include bg-from-to($color1, $color1)
}



/* Navigation */
nav {
    ul, li {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    &.top {
        text-transform: uppercase;
        position: absolute;
        right: 0;
        bottom: 0;

        ul {
            li {
                float: left;

                ul {
                    display: none;
                }

                &.active {
                    a {
                        @include color-darken($red);
                    }
                }

                &:first-child {
                    a {
                        margin-left: 0;
                    }
                }

                a {
                    font-weight: bold;
                    font-size: 1em;
                    display: block;
                    margin-left: 1.5em;
                    color: #FFF;

                    &:hover {
                        color: #FFF;
                        text-decoration: none;
                    }

                    @include color-from-to(#FFF, $red)
                }
            } 
        }
    }
}




/* Offcanvas */
.uk-offcanvas-bar {
    background: #ff9900;
}
.Offcanvas {
    background: #ff9900;

    ul {
        li ul {
            display: none;
        }
    }

    a {
        display: block;
        padding: 1em;
        &:hover {
            text-decoration: none;
        }
        text-transform: uppercase;
        font-size: 1.2em;
        font-weight: bold;
        color: #FFF;
        border-bottom: 1px solid rgba(#FFF, 0.5);
    }
}








/* Subnav */
.Subnav {
    //background: $color2;

    li {
        &.active.being_viewed {
            > a {
                @include bg-darken($color2)
            }
        }

        ul li {
            &.active.being_viewed {
                > a {
                    @include bg-darken(#DDD)
                }
            }

            a {
                @include color-darken(#333)
                @include bg-from-to(#EEE, #DDD)
            }

            ul li {
                &.active.being_viewed {
                    > a {
                        @include bg-darken(#CCC)
                    }
                }

                a {
                    @include color-darken(#333)
                    @include bg-from-to(#DDD, #CCC)
                }
            }
        }
    }

    a {
        a:hover {
            text-decoration: none;
        }

        @include bg-from-to($color2, $color2)

        position: relative;
        text-decoration: none;    
        border-bottom: 1px solid rgba(255, 255, 255, 1);
        margin: 0;
        padding: 0.5em;
        line-height: 1.5em;
        color: #FFF;
        display: block;
    }
}









/* Alt */

.alt {
    h1, h2, h3, h4,  h5, h6 {
        color: #FFF;
    }

    color: #FFF;
    
    a {
        color: #FFF;

        &:hover {
            color: #FFF;
        }
    }
}








/* Fótur */
.Fotur {
    background: $color2;
}



/* Dálkur */
.Dalkur {
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        li ul {
            display: none;
        }
    }    
}









/* Banner */
.Banner {
}
.Slideshow {
    outline: 1px solid #DDD;
    border: 5px solid #FFF;
}




#mobile-button {
    @media (min-width: 768px) {
        position: absolute;
        bottom: 0;
        right: 0;
    }
    font-size: 1.2em;
    text-decoration: none;
    font-weight: bold;
}






/* Kubbur */
.Kubbur {

    &__content {
        min-height: 100px;
    }

    &__image {
        outline: 1px solid #DDD;
        border: 5px solid #FFF;
        display: block;
        height: 200px;
    }

    &__image:hover {
        outline: 1px solid #DDD;
        border: 5px solid #FFF;
    }

    &__title h3 {
        margin: 0.5em 0;
    }
}



















/* Extra */
.padded {
    padding-top: 2em;
    padding-bottom: 2em;
}
.padded-top {
    padding-top: 2em;
}
.padded-bottom {
    padding-bottom: 2em;
}